---
- name: Derive total volume need from fS requirement of the composant
  set_fact:
    total_volume_gb: "{{ os_storage|json_query('[*].size_gb|[]')|sum }}"

- debug: var=storage_devices

- name: Derive number of disk needed
  set_fact:
    number_of_devices: "{{ (total_volume_gb|int / storage_devices.max_size_gb|int) | round(0,'ceil') | int  }}"
    allowed_device_alphabet_letter: "fghijklmnopqrstuvwxyz"
