# Copyright: (c) 2023, dbi services, distributed without any warranty under the terms of the GNU General Public License v3
---
- name: Set password for Windows Admin account
  no_log: true
  set_fact:
    os_admin_password: "{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}"

- name: Call the role to generate the winrm_script for user_data
  include_role:
    name: yak.core.winrm
  vars:
    script_type: oci
    server_name: "{{ display_name }}"
    winrm_user: "{{ ansible_user }}"
    winrm_user_password: "{{ os_admin_password }}"

- include_tasks: create_vnic_details.yml

- name: Create instance
  delegate_to: localhost
  oracle.oci.oci_compute_instance:
    state: present
    region: "{{ region }}"
    availability_domain: "{{ availability_domain }}"
    compartment_id: "{{ compartment_id }}"
    shape: "{{ shape.name }}"
    shape_config:
      memory_in_gbs: "{{ shape.memory_in_gbs }}"
      ocpus: "{{ shape.ocpus }}"
    image_id: "{{ image_id }}"
    display_name: "{{ display_name }}"
    subnet_id: "{{ subnet_id }}"
    create_vnic_details: "{{ vnic_details }}"
    preserve_boot_volume: no
    metadata : { "user_data" : "{{ winrm_script|b64encode }}" }
    freeform_tags : "{{ custom_tags }}"
  register: r_oci_compute_instance_present

- debug: var=r_oci_compute_instance_present
  delegate_to: localhost
  when: debug | bool

- name: Clear winrm variable and file
  include_role:
    name: yak.core.winrm
  vars:
    server_name: "{{ display_name }}"
    state: absent

- delegate_to: localhost
  set_fact:
    returned:
      instance: "{{ r_oci_compute_instance_present.instance }}"
      os_admin_username: "{{ ansible_user }}"
      os_admin_password: "{{ os_admin_password }}"

