# Copyright: (c) 2023, dbi services, distributed without any warranty under the terms of the GNU General Public License v3
---
# defaults file for os_prerequisites
host_name: localhost
time_zone: Europe/Zurich
os_type: linux
domain_name: local.local