---
- name: Get VM by name
  delegate_to: localhost
  azure.azcollection.azure_rm_virtualmachine_info:
    resource_group: "{{ resource_group }}"
  register: r_azure_rm_virtualmachine_info

- debug: var=r_azure_rm_virtualmachine_info
  delegate_to: localhost
  when: debug | bool
...