# Copyright: (c) 2023, dbi services, distributed without any warranty under the terms of the GNU General Public License v3
---
# defaults file for aws
state: started
os_type: linux
server_name: "test-srv-01"
root_device_name: /dev/sda1
aws_default_root_device_ebs_option: #https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_EbsBlockDevice.html
    volume_type: gp3
    volume_size: 25
    encrypted: true
debug: False
returned: ""
custom_tags: {}
instance_type: t3.large
region_id: eu-central-1
availability_zone: eu-central-1a
local_ssh_key:
    path: "{{ ansible_ssh_private_key_file|dirname }}"
    private_key_name: "{{ ansible_ssh_private_key_file|basename }}"
    public_key_name: "{{ ansible_ssh_public_key_file|basename }}"
