# Copyright: (c) 2022, dbi services, distributed without any warranty under the terms of the GNU General Public License v3
---
- name: Install python3-pip
  become: true
  ansible.builtin.package:
    name: python3-pip
    state: present

- name: Install boto3
  become: true
  ansible.builtin.pip:
    name: boto3

- name: Download artifact
  become: true
  amazon.aws.aws_s3:
    bucket: "{{ artifacts.variables.bucket_name }}"
    object: "{{ item }}"
    dest: "{{ destination_path }}/{{ item|basename }}"
    mode: get
  environment:
    AWS_ACCESS_KEY_ID     : "{{ lookup('env','AWS_ACCESS_KEY_ID') }}"
    AWS_SECRET_ACCESS_KEY : "{{ lookup('env','AWS_SECRET_ACCESS_KEY') }}"
    AWS_SESSION_TOKEN     : "{{ lookup('env','AWS_SESSION_TOKEN') }}"
  loop: "{{ artifact_files }}"
...
