# Copyright: (c) 2023, dbi services, distributed without any warranty under the terms of the GNU General Public License v3
---
- name: Install PowerShell module AWS Tool packages
  become: yes
  become_user: "{{ ansible_user }}"
  become_method: runas
  ansible.windows.win_powershell:
    script: >
      Install-Module -Name AWS.Tools.Installer -Force

- name: Install PowerShell module AWS S3 Tool 
  become: yes
  become_user: "{{ ansible_user }}"
  become_method: runas
  ansible.windows.win_powershell:
    script: >
      Install-AWSToolsModule AWS.Tools.S3 -CleanUp -Force

- name: Download artifact
  become: yes
  become_user: "{{ ansible_user }}"
  become_method: runas
  ansible.windows.win_powershell:
    script: >
      Copy-S3Object -BucketName "{{ artifacts.variables.bucket_name }}" `
                    -Key "{{ item }}" `
                    -LocalFile "{{ destination_path }}/{{ item }}"
  environment:
      AWS_ACCESS_KEY_ID     : "{{ lookup('env','AWS_ACCESS_KEY_ID') }}"
      AWS_SECRET_ACCESS_KEY : "{{ lookup('env','AWS_SECRET_ACCESS_KEY') }}"
      AWS_SESSION_TOKEN     : "{{ lookup('env','AWS_SESSION_TOKEN') }}"
  register: r_copy_s3object
  failed_when: r_copy_s3object.error|length > 0
  loop: "{{ artifact_files }}"
...
